
.gallery {
    background: #EEE;
}
  
.gallery-cell {
width: 20%;
height: 400px;
margin: 2rem 25rem;
background: #8C8;
text-align: center;
} 
.gallery-cell img {
    width: 500px;
    height: 400px;
}


/* cell number
.gallery-cell:before {
display: block;
text-align: center;
content: counter(gallery-cell);
line-height: 200px;
font-size: 80px;
color: white;
  } */