{% extends 'inventoryapp/base.html' %} {% block content %}
<div class="container">
  <h1>Cart</h1>
  {% if cart %}
  <a href="{% url 'summary_order' %}" class="clicks">Checkout</a>
  {% endif %}
  {% for i in cart %}
  <main class="l-card-messages-cart">
      <section class="l-card__text">
          <p>
             {{i.product_name}}
          </p>
      </section>
      <section class="l-card__user">
          <div class="l-card__userInfo">
              <p>Quantity: {{i.quantity}}</p>
              <p>Price: ₱{{i.amount}}</p>
              <a href="{% url 'addquantity' i.id %}" class="clicks" style="padding:0.2rem;width: 90px; text-align:center;">Add Item</a>
              <a href="{% url 'deletecart' i.id %}" class="clicks" style="padding:0.2rem;width: 90px; text-align:center;">Remove</a>
          </div>
      </section>
  </main>
  {% endfor %}
  <div class="hidden">y</div>
</div>
{% endblock %}
