{% extends 'inventoryapp/base.html' %} {% block content %}
<div class="container">
  <h1>Create Stock</h1>
  <!-- <a href="{% url 'inventory' %}" class="button" style="margin-left: 40px;">Go Back</a> -->
  <div class="section-delete">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Branch: </label>
      {{form.branch}}
      <label>Product Name: </label>
      {{form.prod_name}}
      <label>Type: </label>
      {{form.prod_type}}
      <label>Size: </label>
      {{form.size}}
      <label>Price: </label>
      {{form.price}}
      <label>Quantity: </label>
      {{form.quantity}}
      <label>Description: </label>
      {{form.description}}
      <label>Update image: </label>
      {{form.image}}
      <div class="btn-flex">
        <button type="submit" class="button-register">Add Stock</button>
        <button type="reset" class="button-register">Reset</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
