{% extends 'inventoryapp/base.html' %}
{% block content %}
<div class="container">
<h1>Order</h1>
<!-- <a href="{% url 'sales' %}" class="button" style="margin-left: 40px;">Go Back</a> -->
  <div class="section-delete">
    <form action="" method="POST">
      {% csrf_token %}
      <label>Branch: </label>
      {{form.branch}}
      <label>Food Name: </label>
      {{form.prod_name}}
      <label>Quantity: </label>
      {{form.quantity}}
      <label>Mode of Payment: </label>
      {{form.mop}}
      <div class="btn-flex">
        <button type="submit" class="button-register">Order</button>
        <button type="reset" class="button-register">Reset</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}