{% extends 'inventoryapp/base.html' %}
{% block content %}
{% load static %} 
<main>
    <div class="intro">
      {% if user.is_authenticated %}
      <h1>WELCOME, {{request.user}}</h1>
      {% else %}
      <img src="{% static 'images/logo1.png' %}" alt="Logo" height="250px" width="300px">
      <p>Crispy Pata, Ulo, Atbp</p>
      {% endif %}
      <form action="{% url 'menu' %}">
        <button type="submit">Order Now</button>
      </form>
    </div>
    <div class="achievements">
      <div class="work">
        <img src="{% static 'images/1.jpg' %}" alt="meal image" height="200px" width="200px">
        <p class="work-heading">Sisig ala Tomguts</p>
        <p class="work-text">₱199</p>
      </div>
      <div class="work">
        <img src="{% static 'images/2.jpg' %}" alt="meal image" height="200px" width="200px">
        <p class="work-heading">Crispy Pata</p>
        <p class="work-text">₱599</p>
      </div>
      <div class="work">
        <img src="{% static 'images/3.jpg' %}" alt="meal image" height="200px" width="200px">
        <p class="work-heading">Fried Itik</p>
        <p class="work-text">₱300</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, inventore. Fuga quam praesentium voluptatem, esse recusandae obcaecati! Eaque unde ea ullam adipisci, mollitia ad eveniet! Natus non expedita facilis repellendus!</p>
      </div>
      <img src="https://images.unsplash.com/photo-1606914501449-5a96b6ce24ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="logo">
    </div>
  </main>
{% endblock %}