{% extends 'inventoryapp/base.html' %}
{% block content %}
<main>
    <div class="intro">
      <h1>Tomguts?</h1>
      <p>Crispy Pata, Ulo, Atbp</p>
      <button>Order Now</button>
    </div>
    <div class="achievements">
      <div class="work">
        <img src="" alt="meal image">
        <p class="work-heading">Meal 1</p>
        <p class="work-text">Description</p>
      </div>
      <div class="work">
        <img src="" alt="meal image">
        <p class="work-heading">Meal 2</p>
        <p class="work-text">Description</p>
      </div>
      <div class="work">
        <img src="" alt="meal image">
        <p class="work-heading">Meal 3</p>
        <p class="work-text">Description</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, inventore. Fuga quam praesentium voluptatem, esse recusandae obcaecati! Eaque unde ea ullam adipisci, mollitia ad eveniet! Natus non expedita facilis repellendus!</p>
      </div>
      <img src="https://images.unsplash.com/photo-1606914501449-5a96b6ce24ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="logo">
    </div>
  </main>
{% endblock %}