{% extends 'inventoryapp/base.html' %} {% block content %}
<div class="container-table-sales">
  <h1>Sales List</h1>
</div>
<div class="tb-res">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <th class="hide" scope="col">Sales Order ID</th>
        <th scope="col">Product Name</th>
        <th class="hide" scope="col">Quantity</th>
        <th class="hide" scope="col">Customer Name</th>
        <th class="hide" scope="col">Contact Number</th>
        <!-- <th class="hide" scope="col">Branch</th> -->
        <th class="hide" scope="col">Mode of Payment</th>
        <th class="hide" scope="col">Amount</th>
        <th class="hide" scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="1">
      <tr>
        {% for i in sales %}
        <td>SO-{{i.reference_number}}</td>
        <td>
          {% for pro in i.product_id %}
          <b>{{pro}}</b><br>
          {% endfor %}
        </td>
        <td>{{i.quantity}}</td>
        <td>{{i.name_buyer}}</td>
        <td>{{i.number}}</td>
        <!-- <td>{{i.branch}}</td> -->
        <td>COD</td>
        <td>₱{{i.total_amount}}</td>
        <td>{{i.status}}</td>
        <td>
          {% if i.status == "Pending" %}
          <a
            class="button-link"
            href="{% url 'delivered' i.id %}"
            class="crud"
            >Delivered</a
          >
          {% else %}
            Done
          {% endif %}
          <!-- <a
            class="button-link"
            href="{% url 'updatesales' i.id %}"
            class="crud"
            >Delete</a
          > -->
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
