{% extends 'inventoryapp/base.html' %}
{% block content %}
<a href="{% url 'createsales' %}">Create Sales</a>
<h1>Sales List</h1>
<div class="tb-res">
  <div class="header">
    <table cellpadding="2" cellspacing="2" border="1">
      <tr>
        <th class="hide" scope="col">Sales Order ID</th>
        <th scope="col">Product Name</th>
        <th class="hide" scope="col">Quantity</th>
        <th class="hide" scope="col">Customer Name</th>
        <th class="hide" scope="col">Mode of Payment</th>
        <th class="hide" scope="col">Date</th>
        <th class="hide" scope="col">Amount</th>
        <th  scope="col">Update</th>
      </tr>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="2" cellspacing="2" border="2">
      <tr>
        {% for i in sales %}
          <th>SO-{{i.id}}</th>
          <td>{{i.prod_name}}</td>
          <td>{{i.quantity}}</td>
          <td>{{i.customer}}</td>
          <td>{{i.mop}}</td>
          <td>{{i.amount}}</td>
          <td>{{i.branch}}</td>
          <td>
            <a href="{% url 'updatesales' i.id %}" class="crud">Update</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}